.dashboard-section {
  display: grid;
  /* grid-template-columns: 200px 1fr; */
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.dashboard-section .dashboard-left {
  background-color: var(--color-main-gray-2);
  display: none;
  flex-direction: column;
  align-items: left;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 10px;
}

.dashboard-section .dashboard-left hr {
  color: #fff;
  background-color: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
}

.dashboard-section .dashboard-left p {
  padding-left: 20px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.dashboard-section .dashboard-left a {
  padding: 20px 0 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.dashboard-section .dashboard-left a:hover {
  color: var(--color-main-gray-1);
}

/* DASHBOARD LANDING PAGE =============================================================================================================================== */
.dashboard-section .dashboard-right .dashboard-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dashboard-section .dashboard-right .dashboard-landing h1 {
  font-size: 7rem;
  padding: 0;
  margin: 0;
}

.dashboard-section .dashboard-right .dashboard-landing hr {
  width: 250px;
  color: #000;
  background-color: #000;
  height: 3px;
}

.dashboard-section .dashboard-right .dashboard-landing p {
  font-size: 1.7rem;
  padding: 0;
  margin: 0;
}

.dashboard-section .dashboard-right .dashboard-landing button {
  background-color: #000;
  color: #fff;
  font-size: 1.8rem;
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dashboard-section .dashboard-right .dashboard-landing button:hover {
  background-color: var(--color-main-gray-2);
}
/* DASHBOARD LANDING PAGE END =============================================================================================================================== */

/* USER ENGAGEMENT =============================================================================================================================== */
.dashboard-section .dashboard-right .user-engagement-container {
  display: none;
}

.dashboard-section .dashboard-right .user-engagement-container .h1-text {
  font-size: 3rem;
  margin: 0 0 0 20px;
}

.dashboard-section
  .dashboard-right
  .user-engagement-container
  .registered-users-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.dashboard-section
  .dashboard-right
  .user-engagement-container
  .registered-users-container
  h3 {
  margin-right: 5px;
  font-size: 1.3rem;
}

.dashboard-section .dashboard-right .user-engagement-container button {
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dashboard-section .dashboard-right .user-engagement-container button:hover {
  background-color: var(--color-main-gray-2);
}

.dashboard-section
  .dashboard-right
  .user-engagement-container
  .table-container {
  width: 80%;
  margin: 0 auto;
  overflow-x: auto;
}

.dashboard-section .dashboard-right .user-engagement-container table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ddd;
  text-align: center;
}

.dashboard-section .dashboard-right .user-engagement-container thead th {
  background-color: #a0a0a0;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 300;
}

.dashboard-section .dashboard-right .user-engagement-container tbody td {
  padding: 10px;
  border-top: 1px solid #ccc;
  font-size: 1.1rem;
}

.dashboard-section .dashboard-right .user-engagement-container th[colspan="3"] {
  background-color: #6b6b6b;
}

.dashboard-section .dashboard-right .user-engagement-container th[rowspan="2"] {
  background-color: #333;
  font-size: 1.8rem;
}

.dashboard-section .dashboard-right .user-engagement-container .city-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ddd;
  text-align: left;
  margin: 20px 0;
}

.dashboard-section
  .dashboard-right
  .user-engagement-container
  .city-table
  thead
  th {
  background-color: #666;
  color: white;
  padding: 10px;
  text-align: left;
  font-size: 1.2rem;
}

.dashboard-section
  .dashboard-right
  .user-engagement-container
  .city-table
  tbody
  td {
  padding: 10px;
  border-top: 1px solid #ccc;
}

.dashboard-section .dashboard-right .user-engagement-container .quiz-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ddd;
  text-align: left;
  margin: 20px 0;
}

.dashboard-section
  .dashboard-right
  .user-engagement-container
  .quiz-table
  thead
  th {
  background-color: #666;
  color: white;
  padding: 10px;
  text-align: left;
  font-size: 1.2rem;
}

.dashboard-section
  .dashboard-right
  .user-engagement-container
  .quiz-table
  thead
  th.quiz-th-name {
  width: 50%;
}

.dashboard-section
  .dashboard-right
  .user-engagement-container
  .quiz-table
  thead
  th.quiz-th-score {
  width: 20%;
}

.dashboard-section
  .dashboard-right
  .user-engagement-container
  .quiz-table
  thead
  th.quiz-th-topic {
  width: 30%;
}

.dashboard-section
  .dashboard-right
  .user-engagement-container
  .quiz-table
  tbody
  td {
  padding: 10px;
  border-top: 1px solid #ccc;
}
/* USER ENGAGEMENT END =============================================================================================================================== */

/* USER MANAGEMENT =============================================================================================================================== */
.dashboard-section .dashboard-right .manage-users-container {
  display: none;
}

.dashboard-section .dashboard-right .manage-users-container .h1-text {
  font-size: 3rem;
  margin: 0 0 0 20px;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .registered-users-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .registered-users-container
  h3 {
  margin-right: 5px;
  font-size: 1.3rem;
}

.dashboard-section .dashboard-right .manage-users-container button {
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dashboard-section .dashboard-right .manage-users-container button:hover {
  background-color: var(--color-main-gray-2);
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .users-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .users-card-container
  .users-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main-gray-1);
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
  max-height: 80px;
  overflow: hidden;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .users-card-container
  .users-card-content
  div {
  display: flex;
  align-items: center;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .users-card-container
  .users-card-content
  div
  img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  object-position: center;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .users-card-container
  .users-card-content
  div
  h1 {
  font-size: 1.7rem;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .users-card-container
  .users-card-content
  img {
  width: 50px;
}

/* USER INFO =============================================================================================================================== */
.dashboard-section
  .dashboard-right
  .manage-users-container
  .user-info-container {
  display: none;
  background-color: var(--color-main-gray-1);
  margin: 20px;
  padding: 20px;
  border-radius: 30px;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .user-info-container
  .user-profile-name {
  display: flex;
  align-items: center;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .user-info-container
  .user-profile-name
  img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 20px;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .user-info-container
  .user-profile-name
  h1 {
  font-size: 3rem;
  text-decoration: underline;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .user-info-container
  .user-info {
  display: block;
  background-color: var(--color-main-gray-3);
  padding: 20px 30px;
  margin: 30px 0;
  box-shadow: 3px 3px 3px var(--color-main-gray-2);
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .user-info-container
  .user-info
  div {
  display: grid;
  grid-template-columns: 150px 1fr;
  font-size: 1.3rem;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .user-info-container
  .user-info
  div
  h3 {
  padding: 0;
  margin: 10px 0;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .user-info-container
  .posts-count {
  display: flex;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .user-info-container
  .posts-count
  div {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 20px 0;
  width: 150px;
  background-color: var(--color-main-gray-3);
  border-radius: 50px;
  padding: 10px;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .user-info-container
  .posts-count
  div
  h1 {
  padding: 0;
  margin: 0;
}

.dashboard-section
  .dashboard-right
  .manage-users-container
  .user-info-container
  .restrict-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
/* USER INFO END =============================================================================================================================== */
/* USER MANAGEMENT END =============================================================================================================================== */
