.container {
  display: grid;
  place-items: center;
}

.login-container {
  display: grid;
  place-items: center;
}

.forgot-password-container {
  display: none;
  place-items: center;
}

.container img {
  width: 500px;
}

.container .login-container div:not(.z),
.container .forgot-password-container div:not(.z) {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.container div input {
  font-size: 1.3rem;
  padding: 5px;
}

.container div label {
  font-size: 1.2rem;
}

.container a {
  color: #000;
}

.container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  margin-top: 30px;
  width: 130px;
}

.z {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.container button:hover {
  background-color: var(--color-main-gray-2);
}
